.icon-animaltion:hover {
	transform: scale(1.3,1.3);
}

.icon-menu {
	font-size: 36px;
	margin-right: 19px;
}

.text .text-first {
	font: 48px roboto;
	margin: 100px 0 20px 0;
}

.text-first:hover {
	transform: scale(1.1,1.1);
}

.text .text-two {
	margin-bottom: 28px;
	font: 14px roboto;
	height: 16px;
	width: 470px;
}

.text-three {
	margin-bottom: 45px;
	font: 13px roboto;
	height: 168px;
	width: 555px;
	line-height: 24px;
	text-align: justify;
}

.start-now {
	color: white;
	border-color: #8bc34a;
	width: 220px;
	height: 50px;
	border-radius: 100px;
	box-shadow: 2px 3px 1px #D8D8D8;
	font: 18px roboto;
	background: #8bc34a linear-gradient(to right, #429321 , #b4ec51);
	padding: 15px 47px 15px 47px;
}

.text .start .start-now {
	text-decoration: none;
	color: white;
}

.start:hover {
	transform: rotate(3deg);
}

.background-two {
	height: 354px;
	width: 555px;
	margin: 100px 0 100px 30px;
	background: url("../image/daily.png");
}

/* header */

.header {
	background: url("../image/header.png") no-repeat;
	background-size: contain;
	width: 1900px;
	height: 865px;
}

.header .main-menu {
	padding-top: 41px;
	list-style: none;
	display: flex;
  	flex-direction: row-reverse;
  	margin-right: 390px;
}

.header .icon .list-icon:hover {
	transform: scale(1.2,1.2);
}

.header .main-menu .signin {
	border: 1px solid #8bc34a;
	border-radius: 30px;
	width: 80px;
	height: 36px;
	padding: 10px 10px 10px 17px;
	font: bold 12px roboto;
	margin: -5px 0 0 38px;
}

.header .main-menu .signin-text {
	text-decoration: none;
	color: #8bc34a;
}

.header .main-menu .signin:hover {
	transform: scale(1.2,1.2);
}

.header .main-menu .aboutus:hover {
	transform: scale(1.2,1.2);
}

.header .main-menu .aboutus a {
	font: bold 12px roboto;
	color: black;
	text-decoration: none;
}

.header .logo {
	margin: 190px 0 48px 0;
	display: flex;
	justify-content: center;
}

.header .icon {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 48px;
}

.header .icon .list-icon {
	width: 300px;
}

.header .icon .list-icon .text {
	font-size: 36px;
}

.header .text-header {
	font: 18px roboto;
	display: flex;
	justify-content: center;
	margin-top: 53px;
}

.header .start-now-header {
	display: flex;
	justify-content: center;
	margin-top: 49px;
}

.header .start-now-header .start-now {
	color: white;
	border-color: #8bc34a;
	width: 195px;
	height: 50px;
	border-radius: 100px;
	box-shadow: 2px 3px 1px #D8D8D8;
	font: 18px roboto;
	background: #8bc34a linear-gradient(to right, #429321 , #b4ec51);
	padding: 15px 20px 15px 48px;
}

.header .start-now-header .start-now:hover {
	transform: scale(1.2,1.2);
	text-decoration: none;
	color: white;
}

/* end header */

.today {
	display: flex;
	flex-direction: row;
	box-shadow: -10px 5px 10px #D8D8D8;
	width: 1900px;
}

.today .background {
	height: 371px;
	width: 555px;
	background: url("../image/todaylearn.png") no-repeat;
	margin: 100px 30px 110px 390px;
}

/* end today */

.daily {
	display: flex;
	flex-direction: row;
	width: 1900px;
	padding-left: 390px;
}

/* end daily */

.option {
	background-image: linear-gradient(to right, #429321 , #b4ec51);
	background-size: contain;
	height: 322px;
	width: 1900px;
	display: flex;
	justify-content: center;
}

.option .one-content {
	padding: 0 4.5%;
	justify-content: center;
	flex-direction: column;
	display: flex;
}

.option .one-content .big-content {
	height: 90px;
	width: 90px;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	margin-bottom: 10px;
	color: white;
	font-size: 30px;
	text-align: center;
	padding-top: 15px;
}

.option .one-content .small-content {
	position: relative;
	height: 40px;
	width: 40px;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	background-color: #7CB342;
	margin: -30px 0 0 26px;
}

.option .one-content .small-content span {
	color: white;
	font: 20px roboto;
	display: flex;
	justify-content: center;
	padding-top: 5px;
}

.option .one-content p {
	color: white;
	font: 16px roboto;
	text-align: center;
}

/*end option */

.members {
	display: flex;
	flex-direction: row;
	width: 1900px;
	padding-left: 389px;
}

.members .text .text-four {
	display: flex;
	flex-direction: row;
	margin-bottom: 17px;
}

.members .text .text-four .ti-check-box {
	font-size: 18px;
	color: #8bc34a;
	margin-right: 18px;
}

.members .text .text-big {
	margin-bottom: 45px;
	width: 555px;
}

.members .text .text-four .text {
	width: 600px;
	height: 45px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 13px roboto;
	margin: 0 0 0 0;
	line-height: 24px;
}

.members .background {
	background-image: url(../image/members.png);
	height: 388px;
	width: 555px;
	background-size: cover;
	margin: 100px 0 100px 20px;
}

/* end members */

.customers {
	display: flex;
	flex-direction: row;
	box-shadow: 10px -5px 10px #D8D8D8;
	width: 1900px;
	padding-left: 360px;
}
.customers .text .text-first {
	margin-top: 80px;
}

.customers .background-two {
	margin-right: 30px;
}

.customers .text .text-four {
	display: flex;
	flex-direction: row;
}

.customers .text .text-four .text {
	width: 555px;
	height: 45px;
	font: 13px roboto;
}

.customers .text .text-four div {
	color: #8bc34a;
	font-size: 18px;
	margin-right: 14px;
}

.customers .text .text-big {
	width: 555px;
	margin-bottom: 30px;
}

/* end customers */

.our-customers {
	background-image: url("../image/bannerend.png");
	background-size: cover;
	width: 1900px;
	height: 554px;
}

.our-customers .text {
	color: white;
	padding-top: 50px;
	word-spacing: 5px;
	font: 48px roboto;
	display: flex;
	justify-content: center;
	margin-bottom: 48px;
}

.our-customers .avartar-header {
	display: flex;
	justify-content: center;
	text-align: center;
}

.our-customers .avartar-header .avartar:hover {
	transform: scale(1.3,1.3);
}

.our-customers .avartar-header .avartar {
	width: 150px;
}

.our-customers .avartar-header .avartar .text-avartar-one {
	color: white;
	opacity: 0.8;
	font-size: 13px;
	margin-top: 16px;
}

.our-customers .avartar-header .avartar .text-avartar-two {
	color: white;
	opacity: 0.8;
	font-size: 10px;
	margin-top: -16px;
}

.our-customers .next-text {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 20px;
}

.our-customers .next-text .next-one {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: white;
	margin-right: 23px;
}

.our-customers .next-text .next {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 23px;
	border: solid white 1px;
}

.our-customers .text-second .ti-quote-left {
	color: white;
	font-size: 72px;
	opacity: 0.4;
	display: flex;
	justify-content: center;
	margin-right: 27px;

}

.our-customers .text-second .ti-quote-right {
	color: white;
	font-size: 72px;
	opacity: 0.4;
	display: flex;
	justify-content: flex-end;
	margin-right: -100px;
	margin-top: -30px;
}

.our-customers .text-second {
	color: white;
	display: flex;
	justify-content: center;
	word-spacing: 5px;	
	opacity: 0.8;
	font: 15px roboto;
	margin-left: -80px;
}

.our-customers .text-second p {
	line-height: 30px;
}

/* end our-customers */

.project {
	display: flex;
	flex-direction: row;
	width: 1900px;
	padding-left: 390px;
}

/* end project */

.footer {
	background-color: #283238;
	background-size: contain;
	width: 1900px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 179px;
	color: white;
	padding-top: 60px;
}

.footer .footer-header .hapo-erp {
	height: 29px;
	width: 96px;
	background: url("../image/hapoErp.png") no-repeat;
}

.footer .text-hapo {	
	padding-top: 36px;
	width: 120px;
	height: 13px;
}

.footer .header-text {
	color: #8bc34a;
}

.footer .footer-header {
	width: 180px;
}

.footer .footer-header .text {
	text-decoration: none;
	color: white;
}

.footer .end {
	padding-top: 70px;
	font-size: 13px;
	display: flex;
	flex-direction: row;
	color: #8bc34a;
	letter-spacing: 38px;
	text-decoration: none;
	padding-left: 30px;
}

/* end footer */
